<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.msquare.omr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_omr_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_omr_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OmrApplication"
        android:usesCleartextTraffic="true">
        <activity
            android:name="ViewTestResultPDF"
            android:exported="false" />
        <activity
            android:name="StudentResultEntryActivity"
            android:exported="false" />
        <activity
            android:name="StudentResultActivity"
            android:exported="false" />
        <activity
            android:name="StudentAnswersActivity"
            android:exported="false" />
        <activity
            android:name="StudentEntryActivity"
            android:exported="false" />
        <activity
            android:name="SelectAnswersActivity"
            android:exported="false" />
        <activity
            android:name="AddTestActivity"
            android:exported="false" />
        <activity
            android:name="DeleteProfileActivity"
            android:exported="false" />
        <activity
            android:name="ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name="UpdateEmailActivity"
            android:exported="false" />
        <activity
            android:name="UpdateOtpVerifyActivity"
            android:exported="false" />
        <activity
            android:name="UpdateOtpSendActivity"
            android:exported="false" />
        <activity
            android:name="UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name="UploadProfilePicActivity"
            android:exported="false" />
        <activity
            android:name="ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name="OtpVerifyActivity"
            android:exported="false" />
        <activity
            android:name="OtpSendActivity"
            android:exported="false" />
        <activity
            android:name="UserDashboardActivity"
            android:exported="false" />
        <activity
            android:name="UserProfileActivity"
            android:exported="false" />
        <activity
            android:name="LoginActivity"
            android:exported="false" />
        <activity
            android:name="RegisterActivity"
            android:exported="false" />
        <activity
            android:name="MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.msquare.omr.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

    </application>

</manifest>